@font-face {
  font-family: 'MPLUS1p-Regular';
  src: url('./fonts/MPLUS1p-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MPLUS1p-ExtraBold';
  src: url('./fonts/MPLUS1p-ExtraBold.ttf') format('truetype');
}

* {
  font-family: 'MPLUS1p-Regular', sans-serif;
}

h1 {
  font-family: 'MPLUS1p-ExtraBold', sans-serif;
}

body {
  background: #fffec9;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

details {
  cursor: pointer;
}

header, nav {
  margin: 0 auto;
}

header {
  text-align: center;
}

nav {
  text-align: center;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

#app {
  font-size: 14px;
}

#container {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

/*PCなら横幅50％*/
@media screen and (min-width: 768px) {
  #container {
    max-width: 30%;
  }
}

#work_card {
  padding: 2em;
  margin-top: 10px;
  background: floralwhite;
  border-radius: 10%;
}

#work_title {
  font-size: medium;
}

#work_url {
  display: block;
  margin-bottom: 1em;
}


.btn {
  cursor: pointer;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  background-color: #3b82f6;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
}

.btn:hover {
  background-color: transparent;
  color: #3b82f6;
  border-color: #3b82f6;
}

#random_btn {
  background-color:#24a14e;
}

#random_btn:hover {
  background-color: transparent;
  color: #24a14e;
  border-color: #24a14e;
}

footer {
  margin: 0 auto;
  text-align: center;
}